Alexander Keßler <alexander.kessler@stud-mail.uni-wuerzburg.de> alexk2206 <kessleralexander@outlook.de>
Florian Januzi <florian.januzi@stud-mail.uni-wuerzburg.de> Florian030501 <florian.januzi@stud-mail.uni-wuerzburg.de>
Keisi Kazazi <keisi.kazazi@stud-mail.uni-wuerzburg.de> Keisi Kazazi <keisi.kazazi@stud-mail.uni-wuerzburg.de>
Michel Popp <michel.popp@stud-mail.uni-wuerzburg.de> Michel Popp <michel.popp@yahoo.de>
Philipp Landeck <philipp.landeck@stud-mail.uni-wuerzburg.de> Philipp Landeck <philipp.landeck@t-online.de>
Philipp Landeck <philipp.landeck@stud-mail.uni-wuerzburg.de> Philipp 🐊 <104695870+croco22@users.noreply.github.com>
Philipp Landeck <philipp.landeck@stud-mail.uni-wuerzburg.de> philipplandeck <philipp.landeck@t-online.de>
Philomenia Jahn <philomenia.jahn@stud-mail.uni-wuerzburg.de> Philomenia Jahn <philomenia.jahn@gmail.com>
